* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: 950px;
    height: 700px;
    margin-top: 0px;
}

#map {
    height: 350px;
    width: 800px;
    margin-top: 0px;
}

#map_container {
    height: 350px;
    width: 800px;
}

#location_title {
    width: 800px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    vertical-align: text-bottom;
    height: 30px;
}

#location_p {
    justify-content: space-evenly;
    vertical-align: text-bottom;
    height: 50px;
    padding-top: 0px;;
}

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}

#tabs {
    margin-bottom: 10px;
}